services:
  unifi:
    image: ghcr.io/goofball222/unifi:8.6
    container_name: unifi
    pull_policy: always
    restart: unless-stopped
    ports:
      - 3478:3478/udp
      - 8080:8080
      - 8443:8443
      - 8880:8880
      - 8843:8843
#     Optional: Uncomment to enable speed tests from the UniFi iOS & Android apps
      - 6789:6789
#     Optional: Uncomment for layer 2 broadcast discovery if container running on a host in the local LAN
      - 10001:10001/udp
    volumes:
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=UTC